<!-- Certifications Section -->
<section id="certifications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Certifications</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row text-center">

            <!-- Microsoft Azure Fundamentals -->
            <div class="col-sm-4 certification-item">
                <img src="img/certifications/azure-fundamentals.png"
                     class="img-responsive certification-img"
                     alt="Microsoft Certified Azure Fundamentals">
                
                <h3>Microsoft Certified</h3>
                <p>Azure Fundamentals (AZ-900)</p>
                <p class="certification-date">Earned March 2025</p>
            </div>

            <!-- Google Cybersecurity -->
            <div class="col-sm-4 certification-item">
                <img src="img/certifications/google-cybersecurity.png"
                     class="img-responsive certification-img"
                     alt="Google Cybersecurity Professional Certificate">
                
                <h3>Google Cybersecurity</h3>
                <p>Professional Certificate</p>
                <p class="certification-date">Completed June 2026</p>
            </div>

            <!-- UNC Charlotte Web Development -->
            <div class="col-sm-4 certification-item">
                <img src="img/certifications/unc-charlotte-web-development.png"
                     class="img-responsive certification-img"
                     alt="UNC Charlotte Full Stack Web Development">
                
                <h3>UNC Charlotte</h3>
                <p>Full Stack Web Development</p>
                <p class="certification-date">Certificate</p>
            </div>

        </div>
    </div>
</section>
